[Desktop Entry]
Name=NVIDIA VRAM
Comment=Live GPU memory usage for NVIDIA GPUs
Type=Service
Icon=video-display

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=JakeC95
X-KDE-PluginInfo-Name=com.github.jakec95.nvidia-smi-vram
X-KDE-PluginInfo-Version=0.1.1
X-KDE-PluginInfo-Website=https://github.com/JakeC95/nvidia-smi-widget
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RequiredExtensions=ExternalScripts
